@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <img src="https://phgcdn.com/images/uploads/MLAEH/corporatemasthead/grand-hotel-excelsior_masthead.jpg" class="irc_mi" style="margin-top: 0px;" height="100%" width="100%">
    <h1>Hotel Vago</h1>
    <p class="lead">Hotel Vago te brinda Las mejores comodidades del mundo mundial xD</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
   
</div>